body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}


.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.menu-icon {
    font-size: 28px;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.notification {
    position: relative;
}

.bell {
    font-size: 24px;
}

.badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background: red;
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 50%;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-name {
    font-weight: bold;
}

.user-img {
    width: 50px;
    height: 40px;
    border-radius: 50%;
}



.container {
    padding: 20px 40px;
}

.title {
    font-size: 42px;
    margin-bottom: 8px; 
    font-weight: 600;
}

.title-line {
    height: 2px;
    width: 80px;
    background: linear-gradient(90deg, #979fa5, #818f90);
    border-radius: 2px;
    margin-bottom: -60px;
}


.stats-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.stat {
    flex: 1;
    min-width: 200px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.stat h4 {
    color: #141414;
    font-size: 16px;
}

.big {
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
}




.buttons {
    margin: 20px 0;
    display: flex;
    gap: 15px;
    justify-content: flex-end; 
}



.clockout {
    background: red;
    padding: 10px 20px;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.break {
    background: #ff8c00;
    padding: 10px 20px;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}









.filters-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    flex-direction: row-reverse;
}

.apply-btn {
    background-color: #0074c8;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.filter-box {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.filter-box label {
    font-size: 12px;
    color: #555;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    width: max-content;
}

.filter-box select {
    width: 120px;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
}




.sub-title {
    margin-top: 20px;
    font-size: 24px;
    

}

.sub-title-line {
    height: 2px;
    width: 60px;
    background: linear-gradient(90deg, #979fa5, #818f90);
    border-radius: 2px;
    margin-bottom: -60px;
     
}

.timesheet-box {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    flex-wrap: wrap;
}

.timesheet-left {
    flex: 1;
}

.entry {
    margin-bottom: 20px;
}

.entry h4 {
    margin-bottom: 5px;
}




.chart {
    width: 280px;
    border-radius: 10px;
}




.summary-container {
    display: flex;
    justify-content: space-between;
    background: #f3f3f3;
    border-radius: 20px;
    padding: 30px;
    font-family: "Poppins", sans-serif;
    gap: 30px;
}

.left-section {
    width: 55%;
}

.day-block {
    margin-bottom: 25px;
}

.day-title {
    color: #555;
    font-size: 15px;
    margin-bottom: 5px;
}

.day-title-line {
    height: 2px;
    width: 50px;
    background: linear-gradient(90deg, #b7c1c9, #a1b0b1);
    border-radius: 2px;
    margin-bottom: 0px;
     
}

.days-title-line {
    height: 2px;
    width: 50px;
    background: linear-gradient(90deg, #b7c1c9, #a1b0b1);
    border-radius: 2px;
    margin-bottom: 0px;
     
}

.dayn-title-line {
    height: 2px;
    width: 50px;
    background: linear-gradient(90deg, #b7c1c9, #a1b0b1);
    border-radius: 2px;
    margin-bottom: 0px;
     
}



.details-row {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
}

.label {
    font-size: 13px;
    color: #777;
}

.value {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.right-section {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chart-legend {
    display: flex;
    gap: 20px;
    font-size: 14px;
    margin-bottom: 10px;
}

.dot {
    display: inline-block;
    width: 24px;
    height: 10px;
    margin-right: 6px;
}

.nov { background: #6a8f7a; }
.oct { background: #f3c200; }
.sep { background: #d34d2d; }



.chart-box img {
    width: 90%;
    height: auto;
    border-radius: 20px;
}
